/target/*
/.vscode/*.log

# Added by Ricardo
/.a_lut_tests/*
/.b_lut_tests/*
/crates/rsonpath-lib/tests/json/*
Cargo.lock
**/__pycache__/
.idea/*
log.txt
.a_final_results
.a_test_data
../rsonpath-plotting/.a_extern_final_results
/.a_test_data_mini/
/res/data
/res/json
/res/tmp.json

/.idea

/.idea